body{
    background-color:lightpink;
}
.whole {
    float: right;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 15px;
    font-family: 'Otomanopee One', sans-serif;
}
.shadow {
    box-shadow: 5px 15px 30px 25px rgb(216, 102, 145);
    border-radius: 15px;
    height: 100%;
    width: 80%;
    background-color:#dd2d4a;
}
a:link, a:visited {
    background-color: #f26a8d;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}    
.seller {
    margin-top: 2%;
    margin-left: 45%;
   
}  
.list{
    
    text-align: center;

}
.list table{

    text-align: center;
}
